@use "components";
// @use "../components/Slider1/slide1";

@mixin sections-display {
    width: 100%;
    padding: 3rem 6rem;
    margin: auto;
    background-color: components.$Amarillo;
}

@mixin intros {
    text-align: center;
    width: 50%;
    h3 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: #ffff;
        text-transform: uppercase;
    }

    p {
        font-size: 1.2rem;
        color: #ffff;
        margin-bottom: 2rem;
    }
}

@mixin slide-display{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    img{
        margin-bottom: 2rem;
    }
}

body {
    padding: 0;
    margin: 0;

}


@media only screen and (max-width: 1376px) {
    .sec-home{
        .home-cta{
            max-width: 50%;
        }
        .home-img{
            max-width: 50%;
            scale: (.95);
        }
    }
    // .sec-video,.sec-video-2 {
    //     display: block;
    //     .home-cta{
    //         max-width: 100%;
        
    //     }
    //     .home-img{
    //         display: none !important;
    //     }
    // }
}
@media only screen and (max-width: 658px) {
    .sec-home{
        display: block!important;
        .home-cta{
            max-width: 100%;
        }
        .home-img{
            display: none;
        }
        .home-title{
            width: 100%!important;
        }
        .home-description{
            width: 100%!important;
        }
    }
    .sec-video,.sec-video-2 {
        display: block;
        .home-cta{
            .home-title{
                max-width: 100%!important;
            }
        }
        .home-img{
            display: none;
        }
    }
    
}
@media only screen and (max-width: 532px) {
    img{
        scale: (0.8);
    }
    .sec-footer-cta{
        font-size: 12px;
        .contact{
            .search{
                justify-content: flex-end;
                .search__input{
                    height:1rem ;
                    width: 7rem;
                }
                    .search__button{
                        height: 1.5rem;
                        width: 2rem;
                        .search__icon{
                            height: 1.3em;
                            width: 1.3em;
                            color: #ffff;
                        }
                    }
                
            }
        }
    }
    
}
